{% extends base_template %}

{% block title %}Hot questions!{% endblock %}

{% block content %}
<div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex">
		<a class="p-2 text-muted" href="/">Latest</a>
		<a class="p-2 text-muted" href="/hot/"><u><b>Hot</b></u></a>
	</nav>
</div>
{% if hot_questions %}
    {% for question in hot_questions %}
          <div class="card flex-md-row mb-4 shadow-sm">
            <div class="card-body d-flex flex-column align-items-start">
              <h4 class="mb-0">
                <a class="text-dark" href="{% url 'question' question.id %}">{{ question.title }}</a>
              </h4>
              <p>{{ question.text }}</p>
              <p>{{ question.date }}</p>
              <p>Tags:</p>
              <p>Answers: {{ question.answer_set.count }}</p>
            </div>
          </div>
    {% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if hot_questions.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ hot_questions.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      page {{ hot_questions.number }} of {{ hot_questions.paginator.num_pages }}
    </span>

    {% if hot_questions.has_next %}
            <a href="?page={{ hot_questions.next_page_number }}">next</a>
            <a href="?page={{ hot_questions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>No questions are available.</p>
{% endif %}
{% endblock %}
